/* body as CSS-selector */
body {
  /* {} is a CSS-declaration */
  /* CSS-rule with property:value; */
  background-color: white;
}

/* HTML-elements as CSS selectors */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

ul {
  display: flex;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
}

/* Class as CSS-selector */
.heroContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.heroImg {
  width: 50%;
}

.heroText {
  width: 50%;
}

.CTAbutton {
  background-color: pink;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  font-weight: 700;
  cursor: pointer;
}

/* ID as CSS-selector */
#footerCredit {
  text-transform: uppercase;
}
